// Define variables for your color scheme

// For example:
$red: #EF3E36;
$violet: #C48BB6;
$blue: #43BAC9;
$marine-blue: #233976;
$yellow: #F7DB33;
$orange: #F09D0C;
$green: #AACFB8;
$gray: #303030;
$light-gray: #C5C5C5;
$white: #FBFBFB;
$rose: #E40066;
$grey-green: #4B6858;
