// Specific CSS for your home-page
#home_banner {
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: $yellow;
}

#home_logo {
 width: 80%;
 rotate: -10deg;
 animation: pulse 2s cubic-bezier(.46,.03,.52,.96) infinite;
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}
