<div id="home_banner">
  <%= image_tag "logo-yellow-orange.svg", id: "home_logo" %>
  <h1>Jeu de lettres. Géant et en plein air.</h1>
  <%= link_to "RÉSERVER", "#next-sessions", class:"btn-orange" %>
</div>

<div class="wrapper"></div>

<div class="wrapper wrap-blue">
  <div class="container" id="#next-sessions">
    <h2>Prochaines parties</h2>
    <% @games.each do |partie| %>
      <p><%= time_tag partie.start_datetime %></p>
      <p><%= partie.status %></p>
    <% end %>
  </div>
</div>
