.wrapper {
  height: 100vh;
}

.wrap-blue {
  background-color: $blue;

  h2 {
    color: $marine-blue;
  }
}

.flex {
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
